<!doctype html>
<html>
<head>
  <% include parts/header.ejs %>
  <title><%= title %></title>
</head>
  <body>
    <div class="container">
      <% include parts/nav.dashboard.ejs %>

      </br>

      <% if (error !== undefined) { %>
        <% include parts/error.ejs %>
      <% } %>

      <form class="form-horizontal" action="/editBeacon" method="PATCH">
        <fieldset>
          <div id="legend">
            <legend class="">Edit Beacon</legend>
          </div>
          <div class="control-group">
            <!-- UUID -->
            <label class="control-label"  for="uuid">UUID</label>
            <div class="controls">
              <input type="text" id="uuid" name="uuid" placeholder="" value="<%=beacon.uuid%>" class="input-xlarge">
            </div>
          </div>

          <br/>
       
          <div class="control-group">
            <!-- Major -->
            <label class="control-label" for="major">Major</label>
            <div class="controls">
              <input type="text" id="major" name="major" placeholder="" value="<%=beacon.major%>" class="input-xlarge">
            </div>
          </div>

          <br/>
       
          <div class="control-group">
            <!-- Minor -->
            <label class="control-label" for="lastname">Minor</label>
            <div class="controls">
              <input type="text" id="minor" name="minor" placeholder="" value="<%=beacon.minor%>" class="input-xlarge">
            </div>
          </div>

          <br/>
       
          <div class="control-group">
            <!-- Alias -->
            <label class="control-label" for="alias">Alias</label>
            <div class="controls">
              <input type="text" id="alias" name="alias" placeholder="" value="<%=beacon.alias%>" class="input-xlarge">
            </div>
          </div>

          <br/>
       
          <div class="control-group">
            <!-- Button -->
            <div class="controls">
              <button type="submit" class="btn btn-success">Save changes</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <% include parts/footer.ejs %>

    <script type="text/javascript" src="/lib/jQuery/jquery.3.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>

  </body>
</html>